footer {
    grid-area: footer;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(240, 243, 198);
    #link_directo:link {
        text-decoration: none;
    }

} 