.Tienda {
    grid-area: Tienda;
}
.transform{
    transform: scale(1.1, 1.1);
}

@mixin botones_tienda {
    grid-area: Remeras_de_entrenamiento;
    background-color: $colortienda;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    border-style: groove;
    border-color: rgb(3, 70, 64);
    border-radius: 10px;
}

.Remeras_de_entrenamiento {
    @include botones_tienda;
}
.Remeras_de_entrenamiento:hover{
    @extend .transform;
}

.Remeras_de_competencia {
    @include botones_tienda;
}
.Remeras_de_competencia:hover {
    @extend .transform;
}

.Equipos_de_invierno {
    @include botones_tienda;
}

.Equipos_de_invierno:hover{
    @extend .transform;
}

.Banderas {
    @include botones_tienda;
}

.Banderas:hover {
    @extend .transform;
}
