* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import"background-image";

@import"header";

@import"grid1";

@import"historia";

h3 {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@import"tienda";

@import"socios";

@import"contacto";

@import"footer";
 