 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 200px;
}
h1{
    color: rgb(9, 75, 114);
    font-family: 'Sriracha', cursive;
    font-size: 3rem;
    text-align: center;
    font-style: bold;
}
.menu{
    margin: 5px;
    padding: 1rem;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.menu li{
    display: inline-block;
    margin: 0px 20px;
}
.menu li a:hover{
    color: rgb(3, 115, 180);
    text-transform: uppercase;
}
body{
    background-image: url(./Images/Background_body1.jpg);
    background-size: cover;
}
hr{
    color: black;
}
.parrafo_historia{
    margin: 20px 150px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    border-style: dashed;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 2rem; 
}
h3{
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header"
    "puerta_cg puerta_cg"
    "cuerpo clasificacion"
    "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
header{
    grid-area: header;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
section#puerta_cg{
    grid-area: puerta_cg;
    text-align: center;
    width: 100%;
}
section#cuerpo{
    grid-area: cuerpo;
    width: 90%;
    height: 90%;
    margin: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-items: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 2rem;
    overflow: auto;
}
section#clasificacion iframe{
    grid-area: clasificacion;
    width: 90%;
    height: 500px;
}
footer{
    grid-area: footer;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(240, 243, 198);
    
}
@media screen and (max-width: 768px){
    .grid1{
        grid-template-areas:
        "header header"
        "puerta_cg puerta_cg"
        "cuerpo cuerpo"
        "calificacion calificacion"
        "footer footer";
    }
    section#puerta_cg{
        width: 100%;
        text-align: center;
    }
    section#clasificacion iframe{
        width: 200%;
    }
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: stretch;
    align-items: center;
    align-content: stretch;
    grid-template-areas:
    "Tienda Tienda Tienda Tienda"
    "Remeras_de_entrenamiento Remeras_de_competencia Equipos_de_invierno Banderas";
    text-align: center;
}
.Tienda{
    grid-area: Tienda;
}
.Remeras_de_entrenamiento{
    grid-area: Remeras_de_entrenamiento;
    background-color: rgb(6, 143, 136);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    border-style: groove;
    border-color: rgb(3, 70, 64);
    border-radius: 10px;
}
.Remeras_de_entrenamiento:hover{
    transform: scale(1.1, 1.1);
}
.Remeras_de_competencia{
    grid-area: Remeras_de_competencia;
    background-color: rgb(6, 143, 136);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    border-style: groove;
    border-color: rgb(3, 70, 64);
    border-radius: 10px;
}
.Remeras_de_competencia:hover{
    transform: scale(1.1, 1.1);
}
.Equipos_de_invierno{
    grid-area: Equipos_de_invierno;
    background-color: rgb(6, 143, 136);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    border-style: groove;
    border-color: rgb(3, 70, 64);
    border-radius: 10px;
}
.Equipos_de_invierno:hover{
    transform: scale(1.1, 1.1);
}
.Banderas{
    grid-area: Banderas;
    background-color: rgb(6, 143, 136);
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    border-style: groove;
    border-color: rgb(3, 70, 64);
    border-radius: 10px;
}
.Banderas:hover{
    transform: scale(1.1, 1.1);
}